body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header, footer {
    background-color: white;
    
    padding: 10px 20px;
    text-align: center;

}

section {
    padding: 20px;
    margin: 0 10px;
}

h1, h2 {
    color: #333;
}